<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <link rel="stylesheet" type="text/css" href="../static/css/show.css">


</head>


<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Sketch your Picture</h2>
    </div>
    <!-- Example Div -->
    <div>
        <h2 style="margin-left: 120px; color: white;">Example</h4><br>
        <span style="margin-left: 155px;" class="example-img">Original</span>
        <span class="example-img">Style1</span><span class="example-img">Style2</span><span class="example-img">Style3</span>
        <span style="margin-left: 28px;"class="example-img">Original</span>
        <span class="example-img">Style1</span><span class="example-img">Style2</span><span class="example-img">Style3</span>
        <figure><img src="../static/show/results.jpg" class="example"></figure>
    </div>
    <hr style="border: solid 1px white; width: 900px;">
    <!-- How to Use -->
    <div style="margin-bottom: 50px; color: white;">
        <br>
        <h2 style="margin-left: 120px;">How to Use</h2>
        <div style="margin-left: 150px;">
            <br>
            <h5>1. Input a Image.</h5>
            <h5>2. Choose the Sketch Version.</h5>
            <h5>3. Press the Convert Button.</h5>
        </div>
    </div>
    <br>
    <!-- Sample Image -->
    <div style="margin-left: 120px; font-size: 20px;">
      <h3 style="color: white;">Sample Image</h3>
      <br>
      <a style="margin-left: 50px; margin-right: 30px;" href="../static/show/woman.jpg" download>Sample1</a>
      <a href="../static/show/celebahq-11103.jpg" download>Sample2</a>
    </div>
    <br>
    <hr style="border: solid 1px white; width: 900px;">
    <!-- Show Image Block -->
    <br>
    <h2 style="margin-left: 120px; color: white;">Let's Start!</h2>
    
    <ul class="row" style="margin-top: 50px;">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="margin-left: 250px; height: 349px;">
            <figure><img src="../static/show/woman.jpg" class="input-img"></figure>
            <p>Original Image</p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="margin-left: 300px;height: 349px;">
            <figure><img src="../static/show/woman_fake.png" class="contain"></figure>
            <select name="style" id="style">
              <option value="">Choose the Version</option>
              <option value="1-0-0">Style 1</option>
              <option value="0-1-0">Style 2</option>
              <option value="0-0-1">Style 3</option>
            </select>
          </div>
      </li>
    </ul>
  </div>
  <div class="input">
    <br>Select an image to convert.<br>
    <input type="file" id="image" accept="image/*" value="Choose" onchange="setThumbnail(event);" style="width: 300px; margin-left: 30px; margin-top: 30px;"/><br><br>
    <input type="submit" id="submit" onclick="formSend();" value="Convert">
  </div>

    <script src="../static/js/index.js"></script>
</section>

